# Ignore virtual environment
venv/

# Node modules
node_modules/

# Environment files
.env/
backend/.env

# Python bytecode files in backend directory
backend/__pycache__/
*.pyc
*.pyo

# IDE and editor settings
.vscode/
.idea/
.project
.settings/
